[mysqld]
user = root
datadir = /var/lib/mysql/data
log_error = /var/log/mysql_error.log
port = 3306
bind-address = 0.0.0.0
ssl-ca=/etc/mysql/certs/CA.crt
ssl-cert=/etc/mysql/certs/server.crt
ssl-key=/etc/mysql/certs/server.key